* {
  font-family: 'Montserrat', sans-serif;
}
.details {
  padding-top: 5%;
}

.details-back {
  background-image: url('https://ic.p24.app/unsafe/1600x700/smart/filters:quality(80)/cdn.p24.app/r/sc/ru/5b/5b6927e6-db8f-4158-b4a1-1a7b5db1bee5/c8ab1d31-c94f-44fd-97a4-2a3774a3fe62.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: blur(100px); */
}
.details-name {
  padding: 1%;
}
.film-name {
  background-color: #d39742;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
  padding: 0.3%;
}
.film-descr {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.film-age {
  font-size: 1.8vw;
  background-color: #5c8a00;
  color: white;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 0.2%;
}
.film-genre {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 0.8vw;
  color: white;
  padding: 0.3%;
  background-color: rgb(21, 18, 18);
}
.genre-city {
  font-family: 'Montserrat', sans-serif;
  width: auto;
}
.genre-list {
  font-family: 'Montserrat', sans-serif;
}
.details-time {
  display: flex;
  flex-direction: column;
}
.line {
  width: 50%;
  margin-top: 1%;
  border-top: 3px solid #ffffff;
  height: 8px;
  margin-left: 1%;
  opacity: 0.3;
}
.halls {
  display: flex;
  margin-top: 5%;
}
.details-hall {
  font-size: 1.5vw;
  margin-left: 25%;
  width: 5%;
  color: #ffffff;
  opacity: 0.9;
}
.details-image {
  width: 20%;
}
.details-image > img {
  width: 20%;
  position: absolute;
  top: 105%;
  left: 1%;
}
.back-blur {
  background-image: url('https://fons.pibig.info/uploads/posts/2023-05/1685564759_fons-pibig-info-p-zadnii-fon-serii-6.jpg');
  width: 100%;
  height: 100vw;
  /* background-color: rgba(29, 30, 31, 0.5); */
  /* backdrop-filter: blur(20px); */
}
/* ----------------------------------------------- */
.details-navbar {
  width: 70%;
  height: 5vw;
  position: absolute;
  left: 25%;
  top: 105%;
}
.details-main-navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 4vw;
  border-top: 3px solid #d39742;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}
.details-bord-navbar {
  width: 95%;
  height: 5px;
  margin: auto;
  background-color: #00000054;
}
.days {
  width: 45%;
  padding-top: 6%;
  text-align: center;
  background-color: #d39742;
  cursor: pointer;
  transition: all 400ms;
}
.days:hover {
  background-color: #ba8939;
}
.details-days {
  position: absolute;
  width: 25%;
  display: flex;
  height: 6vw;
  top: -12%;
  justify-content: space-between;
}
.days > h5,
span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2vw;
  color: black;
  opacity: 0.8;
}
.details-3d {
  margin-left: 90%;
  padding-top: 1%;
}
.details-3d > span {
  color: #d39742;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
}
.time-container {
  width: 50%;
  margin: 1% 31%;
  display: flex;
  justify-content: space-between;
}
.time-block {
  display: flex;
}
.time {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  color: #d39742;
  cursor: pointer;
  transition: all 400ms;
}
.price-cont {
  padding-top: 2%;
  padding-left: 2%;
}
.time:hover {
  color: #dad5cd;
}
.price-cont > span {
  font-size: 1vw;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}

/* =====================modal======================= */
.modal-place {
  margin: "0 auto";
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 11;
}
.modal-btn-setShow {
  color: aqua;
}
.modal-place-block {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.modal-btn-places {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}
.modal-buttons {
  width: 9%;
  height: 80%;
  border: none;
  border-radius: 5px;
  background-color: gray;
  margin: 3px;
  color: gray;
}

.modal-buttons:hover {
  background-color: orange;

  color: red;
  font-size: medium;
  font-weight: bolder;
}

.details-youtube {
  width: 4%;
  position: absolute;
  top: 162%;
  left: 16%;
  cursor: pointer;
  transition: all 400ms;
}

.details-youtube > img {
  width: 100%;
}
.details-video {
  position: absolute;
  z-index: 15;
  width: 70%;
  left: 20%;
}
.close-video-btn {
  position: absolute;
  top: 1%;
  right: 10%;
}
.films-details {
  width: 70%;
  margin-left: 25%;
  margin-top: 4%;
}
.list-item {
  width: 100%;
  display: flex;
  margin-bottom: 2%;
  list-style-type: none;
  border-bottom: 1px solid grey;
}
.list-titles {
  width: 20%;
  font-size: 1vw;
  font-weight: 500;
  color: aliceblue;
  opacity: 0.5;
}
.list-values {
  margin-left: 5%;
  width: 60%;
  color: rgb(252, 252, 252);
  opacity: 1;
}
