.navbar-container {
  display: flex;
  width: 100%;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 3px solid #d39742;
}

.navbar-main {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.navbar-logo {
  width: 5%;
  padding: auto;
  padding-left: 1%;
  display: flex;
  text-align: center;
}

.navbar-a {
  white-space: pre;
  border: none;
  color: #d39742;
  font-size: 24px;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 30%;
  color: #f2c18c;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  align-items: center;
}

.navbar-bord {
  width: 95%;
  height: 5px;
  margin: auto;
}

.navbar-a:hover {
  color: white;
}
