.navbar-container {
  display: flex;
  width: 100%;
  position: fixed;
  flex-direction: column;
  z-index: 10;
}

.navbar-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 3px solid #d39742;
  height: 65px;
  font-family: "Montserrat", sans-serif;
}

.navbar-logo {
  width: 8%;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.navbar-a {
  white-space: pre;
  border: none;
  color: #d39742;
  font-size: 16px;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  color: #f2c18c;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  align-items: center;
}
.hamburger-menu {
  display: none;
}
.navbar-bord {
  width: 95%;
  height: 5px;
  margin: auto;
  background-color: #00000054;
}

.navbar-a:hover {
  color: white;
}
